@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'BPdiet';
	src: url("../fonts/BPdiet/BPdiet.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'stitch';
	src: url("../fonts/patchwork_stitchlings/PatchworkStitchlings.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'CandyCane';
	src: url("../fonts/candy_cane/candycane.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'CandyPop';
	src: url("../fonts/candy_pop/CandyPop.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'JellyCrazies';
	src: url("../fonts/jelly_crazies/JellyCrazies.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Rakoon';
	src: url("../fonts/rakoon/rakoonzin.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Robotica';
	src: url("../fonts/Robotica/Robotica.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Wonka';
	src: url("../fonts/willywonka/Willywonka.ttf");
	font-size: 1em;
}





*{
	box-sizing: border-box;
}
header {
	width: 100%;
    height: 100px;
    background: #000;
    position: absolute;
    z-index: 2;
    border-style: default;
    border-color: #fff;
    border-width: 2px;
}
header .header-black li a {
	width: 32px;
	height: 32px;
	display: block;
}
header #logotipo {
	position: absolute;
	top: 20px;
	z-index: 3;
}
#menu {
	margin: 12px 0;
}
#menu li {
	display: inline-block;
	font-family: "OpenSans";
	position: relative;
	top: -129px;
	left: 89px;
}
#menu li.search {
	width: 182px;
	transition-timing-function: cubic-bezier(1,-.91,.91,1);
	transition-duration: 1s;
}
#menu li.search.ativo {
	width: 300px;
}
#menu li.search input {
	background-color: #FF1493;
	color: #fff;
	border: color:white ;
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
}
#menu li.search.ativo input {
	width: 300px;
}
#menu li.search ::-webkit-input-placeholder {
	color: #fff;	
}
#menu li.search button {
	background: none;
	border: none;
	position: absolute;
    right: 3px;
    top: 7px;
}
#menu li.search button i {
	font-size: 14px;
	color: rgba(255, 20, 147 .5);
}
#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 33px 28px;
	font-weight: bold;
}
#menu li.search .input-group {
	top: 8px;
}

#terradodocelogo{
	z-index: 4;
	width: 40%;
	position: relative;
	top: -20px;
	left: 40px;
}
#roundedcandy{
	width: 7.5%;
    position: relative;
    z-index: 3;
    left: -517px;
    top: -23px;
}
#logolsd{
	width: 8%;
    position: relative;
    z-index: 3;
    right: 505px;
    top: -23px;
}
#bengalas{
	width: 7%;
    z-index: 3;
    position: absolute;
    top: 3px;
    left: 38px;
}
#bengalas2{
	width: 7%;
    z-index: 3;
    position: absolute;
    top: 3px;
    left: 615px;
}
/*section*/
section .banner {
	background-image: url(../img/pirulito.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 980px;
    position: absolute;
    margin-top: -58px;
    z-index: 1;
}
#catalogo{
    font-family: 'Wonka';
    font-weight: bold;
    position: relative;
    top: 126px;
    left: -50px;
    z-index: 3;
}
#fini .imagem{
    width: 32%;
    position: relative;
    top: 210px;
    margin-left: -76px;
}
#fini .texto{
	font-family: 'Wonka';
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: 222px;
    margin-left: -889px;
}
#fini a{
	width: 25%;
    top: 231px;
    margin-left: -26px;
    position: relative
}
#lollypop .imagem{
	width: 24%;
    position: relative;
    top: 178px;
    margin-left: 92px;
}
#lollypop .texto{
	font-family: 'Wonka';
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: 179px;
    margin-left: -692px;
}
#lollypop a{
	width: 25%;
    top: 187px;
    margin-left: 97px;
    position: relative;
}
#halls .imagem{
	width: 32%;
    position: relative;
    top: 213px;
    margin-left: -5px;
}
#halls .texto{
	font-family: 'Wonka';
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: 237px;
    margin-left: -765px;
}
#halls a{
	width: 25%;
    top: 244px;
    margin-left: 43px;
    position: relative;
}
/*footer*/
footer{
	width: 100%;
	height: 200px;
	background-color:#000; 	
	position: absolute;
	margin-top: 922px;
}
#barradecontato{
	box-sizing: border-box;
	width: 100%;
	z-index: 1;
	height: 70px;
	background-color: #000;
}
#barradecontato1{
	box-sizing: border-box;
	height: 69px;
	z-index: 1;
	background-color: #FF1493;
	border: solid;
    border-color: #000;
    border-top-width: 1px;
    border-right-width: 0px;
}
#barradecontato1 h1{
	font-family: 'Wonka';
	font-size: 30px;
	font-weight: bold;
	color: #002;
}
#containerzao{
	position: absolute;
	left: 230px;
    top: -2px;
}
#containerzao h3{
	font-family: 'OpenSans';
	font-size: 15px;
	font-weight: bold;
}
#take{
	position: absolute;
	top: -1px;
}
#lsd2{
	width: 15%;
    position: relative;
    z-index: 3;
    left: 72px;
}
#willy{
	font-family: 'Wonka';
	font-weight: bold;

}
